#main2{

    padding-top: 100px !important;
    margin-top: 0%;
    background-color: rgb(124, 7, 124);
    height: 1000px;
    width: 100%;
    padding-bottom: 30%;


}
.name{
    color: rgb(0, 0, 0);
    font-size: medium;
}
.align{
display: flex !important;
}
.row{

    justify-content: center !important;
    align-items: center !important;
}
.card{
    max-width: 650px;
}