#main2{

    padding-top: 100px !important;
    margin-top: 0%;
    background-image: linear-gradient(to right, rgb(255, 0, 0), rgb(0, 0, 0));
    height: 100%;
    width: 100%;
    padding-bottom: 30%;


}
.name{
    color: rgb(0, 0, 0);
    font-size: medium;
}
.align{
display: flex !important;
}
.row{

    justify-content: center !important;
    align-items: center !important;
}
.card{
    max-width: 650px;
}