.heading{
    margin-top: 10%;
    margin-left: 5%;
}
/* .container{
    display: flex;
} */

.firstbutton{
    margin-right: 10px;
    background-color: rgb(124, 7, 124);
    
}

.box{
    width: 400px;
}
.zz > .row{
    flex-direction: row !important;
    justify-content: space-between !important;
}
