.main7{
    padding-top: 70px !important;
    background-color: rgb(124, 7, 124);
    min-height: 500px;
    padding-bottom: 100%;
}
.profile{
    max-width: 405px !important;
    min-height: 400px !important;
    margin-top: 40px !important;
    position: relative;
    overflow: hidden;
}
@media only screen and (max-width: 300px){
    .profile{
        min-height: 300px !important;
        max-width: 255px !important;
    }
}
.profile2{
    width: 200px !important;
    min-height: 200px !important;
}
@media only screen and (max-width: 300px){
    .profile2{
        min-height: 150px !important;
    }
}
.pspace{
    display: flex;
    
}
.user_id{
    margin-top: 5%;
}
.style{
    font-family: sans-serif;
}
.colour{
    color: rgb(0, 0, 0);
}
.namee{
    color: rgb(255, 255, 255);
}
.namesize{
    color: rgb(255, 255, 255);
    font-size: 70px;
    font-weight: 600;
    text-transform: capitalize;

}